.user-info > dt {
  text-align: left;
  margin-left: 1rem;
  color: #2735d1;
  text-shadow: rgba(52, 16, 16, 0.5) 0.125rem 0.125rem 0.25rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.04rem;
}

.user-info > dl {
  color: antiquewhite;
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
}

user-card {
  box-shadow: 10px 10px 25px 21px #0053b9;
}

h3 {
  letter-spacing: 0.2rem;
  font-weight: 900;
}
