.user-info,
dt {
  text-align: left;
  margin-left: 1rem;
  color: #1a1f5a;
  text-shadow: rgba(52, 16, 16, 0.5) 0.125rem 0.125rem 0.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
}

dl {
  color: antiquewhite;
}
