img.detail-img {
  min-width: 400px;
  max-width: 48%;
  outline: hsla(27, 67%, 47%, 0.8);
  outline-style: ridge;
  outline-width: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 25px 21px #0053b9;
}

.movie-details {
  margin-top: 1vh;
  margin-bottom: 5rem;
  max-width: 95vw;
  background-blend-mode: lighten;
}

.movie-title {
  color: hsl(355, 63%, 40%);
  font-weight: 800;
  text-shadow: #000;
}

.similar-movies {
  margin-top: 5rem;
  max-width: 85vw;
}

.close-button {
  position: fixed;
  float: right;
  right: 0;
  margin-right: 5rem;
  transform: scale(1.5);
  z-index: 999;

  &:hover {
    transform: scale(2.5);
  }
}

dt {
  color: #1522ad;
  font-size: 1.5rem;
}
