$white: #fff;
$gray-100: #f6f6f6;
$gray-200: #f0f0f0;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #999;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;
$black: #000;
$blue: #8a581e;
$indigo: #6610f2;
$green: #28a745;
$purple: #6f42c1;
$yellow: #ffc107;
$pink: #e83e8c;
$red: #fc2222;
$teal: #7fb099;
$secondary: #76a468;
$success: $green;
$cyan: #008fff;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: #3e2011;
$dropdown-link-color: rgba(0, 0, 0, 0.5);
$primary: #aa736a;
$secondary: #76a468;
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$body-bg: #fff9f0;
$body-color: #232730;
$yiq-text-dark: #232730;
$yiq-text-light: #f6fef6;
