@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

// $primary: #2c3e50;
// $secondary: #95a5a6;
$primary: #d13340;
$secondary: #33d1c4;
$danger: #bf0000;
$info: #278fb8;
$success: #7ff000;
$dark: #0e0915;
$cyan: #33d1c4;
$pink: #d13340;
$purple: #3440d1;

// $info: hsl(187, 40%, 50%);

// :focus {
//   outline: none;
//   box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
// }

// $enable-shadows: true;
// $enable-rfs: true;
$enable-grid-classes: true;
// $card-border-radius: 0.3rem;
$card-inner-border-radius: 0.5rem;
// $btn-disabled-opacity: 0.8;

// Import Bootstrap

// @import 'bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/quartz/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/quartz/bootswatch";
