$primary: #2c3e50;
$secondary: #95a5a6;
$enable-shadows: true;
$enable-rfs: true;
$enable-grid-classes: true;
$card-border-radius: 0rem;
$card-inner-border-radius: 1rem;

// Import Bootstrap

@import 'bootstrap/scss/bootstrap.scss';
